*{
    margin: 0;
    padding: 0;
}

.backgroundColor{
    background: rgb(41,102,157);
    background: linear-gradient(90deg, rgba(41,102,157,1) 1%, rgba(90,168,215,1) 35%, rgba(128,205,221,1) 100%);;;
}

.sectionContainer{
    margin: 10px;
    color: #a0d2f3;
    background-color: white;
    display: flex;
    justify-content: center;
}

.section{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconosRedes{
    display: flex;
    justify-content: space-around;
}

.nube{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.mainContainer{
    color: #a0d2f3;
    background-image: url(imagenes/Diapositiva1.PNG);
    background-size: 100%;
    justify-content: center;
    text-align: center;
}

.sectionMain{
    height: 500%;
    display: flex;
    justify-content: center;
}

.article{
    padding: 30px;
}

.listaIconos{
    list-style: none;
}

.h1{
    text-align: center;
    font-size: 60px;
}

.parrafo{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h2{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footerContainer{
    color: white;
    background: rgb(41,102,157);
    background: linear-gradient(90deg, rgba(41,102,157,1) 1%, rgba(90,168,215,1) 35%, rgba(128,205,221,1) 100%);
}

.footer{
    padding: 20px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.iconosFooter{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.contacto{
    display: flex;
    justify-content: start;
}

.maps{
    display: flex;
    justify-content: start;
}

.cardFlex{
    display: flex;
    justify-content: space-around;
}

.foto{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.fotoItem{
    justify-content: space-around;
}

.tamañoCarousel{
    justify-content: center;
    width: 300px;
    height: 500px;
}

p{
    font-size: 30px;
}

/* RESPONSIVE MOBILE */
@media only screen and (max-width: 450px) {
 
    /* MAIN INDEX */
    .nube{
        font-size: 90%;
    }
    .buscador{
        font-size: 90%;
    }
    .h1{
        font-size: 300%;
    }
    .parrafo{
        font-size: 150%;
    }
    .h2{
        font-size: 100%;
    }
    .h3{
        font-size: 150%;
    }

    /* MAIN CONTACTO */

    .contacto{
        display: flex;
        justify-content: center;
    }
    .maps{
        display: flex;
        justify-content: center;
        width: 80%;
        height: 60%;
    }

    /* MAIN CURSOS */
    .cardFlex{
        display: inline-block;
        justify-content: center;
        align-items: space-around;
    }
    .card-text{
        font-size: 80%;
    }

    .foto{
        display: flex;
        align-items: center;
        width: 100%;
    }

}