*{
    margin: 0;
    padding: 0;
}

.headerContainer{
    height: 50px;
    color: white;
    font-size: 20px;
    background: rgb(41,102,157);
    background: linear-gradient(90deg, rgba(41,102,157,1) 1%, rgba(90,168,215,1) 35%, rgba(128,205,221,1) 100%);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 60%;
}

.menu{
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lista{
    padding: 10px;
    background-color: aliceblue;

}

.menu:hover{
    background-color: white;
}

.sectionContainer{
    margin: 10px;
    color: #a0d2f3;
    background-color: white;
    display: flex;
    justify-content: center;
}

.section{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconosRedes{
    display: flex;
    justify-content: space-around;
}

.nube{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.mainContainer{
    color: #a0d2f3;
    background-image: url(imagenes/Diapositiva1.PNG);
    background-size: 100%;
    justify-content: center;
    text-align: center;
}

.sectionMain{
    height: 500%;
    display: flex;
    justify-content: center;
}

.article{
    padding: 30px;
}

.h1{
    text-align: center;
    font-size: 60px;
}

.parrafo{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h2{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footerContainer{
    color: white;
    background: rgb(41,102,157);
    background: linear-gradient(90deg, rgba(41,102,157,1) 1%, rgba(90,168,215,1) 35%, rgba(128,205,221,1) 100%);
}

.footer{
    padding: 20px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.iconosFooter{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.contacto{
    display: flex;
    justify-content: start;
}

.maps{
    display: flex;
    justify-content: start;
}

.fotoContainer{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.foto{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.fotoItem{
    justify-content: space-around;
}

.slider{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

.carrusel li{
    list-style: none;
    width: 100%;
}

.img-carrusel{
    width: 100%;
}

.carrusel{
    display: flex;
    padding: 0;
    width: 400%;
    animation: carrusel 20s linear infinite alternate;
}

@keyframes carrusel{
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}

    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    75%{ margin-left: -300%;}
    100%{ margin-left: -300%;}
}
