/* MAIN CURSOS*/

.mainContainer{
    h1{
        @extend %font;
    }
    .cardFlex{
        @include flex (flex, center);
    
        }
    .foto{
        width: 50%;
        @include flex (flex, space-around);
    }
    .color-card{
        background-color: #f2f7f7;
    }
}

/* MOBILE */
@media only screen and (max-width: 450px){
    .mainContainer{
        h1{
            font-size: 200%;
        }
        .position-card{
            display: block;
        }
        .cardFlex{
            .cardText{
                font-size: 80%;
            }
        }
        .foto{
            display: flex;
            align-items: center;
            width: 100%;
        }

    }
}