/* MAIN INGRESAR*/

.mainContainer{
    h1{
        font-size: 40px;
    }
    .ingresar{
        display: inline-flex;
        justify-content: center;
        border-radius: 3%;
        background: rgb(41,102,157);
        background: linear-gradient(90deg, rgba(41,102,157,1) 1%, rgba(90,168,215,1) 35%, rgba(128,205,221,1) 100%);;;
        width: 30%;
    }
    .carousel{
        justify-content: center;
    }
    .tamañoCarousel{
        justify-content: center;
        width: 300px;
        height: 500px;
    }
}

/* MOBILE*/
@media only screen and (max-width: 450px){
    .mainContainer{
        h1{
            font-size: 100%;
        }
    }
}

