/* MAIN CONTACTO*/

.mainContainer{
    h1{
        font-size: 40px;
    }
    .contacto{
        @include flex (flex, start);
    }
    .maps{
        padding: 10px;
        @include flex (flex, start);
    }
}
/* MOBILE*/

@media only screen and(max-width: 450px){
    .mainContainer{
        h1{
            font-size: 100%
        }
        .contacto{
            @include flex (flex, center);
        }
        .maps{
            @include flex (flex, center);
            width: 80%;
            height: 60%;
        }
    }
}