/* MAIN CONTACTO*/

.mainContainer{
    h1{
        font-size: 40px;
    }
    .contacto{
        @include flex (flex, start);
        justify-content: center;
        border-radius: 3%;
        background: rgb(41,102,157);
        background: linear-gradient(90deg, rgba(41,102,157,1) 1%, rgba(90,168,215,1) 35%, rgba(128,205,221,1) 100%);;;
        width: 30%;
        .button{
            background-color: #a0d2f3;
            color: cornflowerblue;
        }
    }

    .maps{
        padding: 10px;
        @include flex (flex, start);
    }
}
/* MOBILE*/

@media only screen and(max-width: 450px){
    .mainContainer{
        h1{
            font-size: 100%
        }
        .contacto{
            @include flex (flex, center);
            display: inline-flex;
            justify-content: center;
            width: 50%;
        }
        .maps{
            @include flex (flex, center);
            width: 80%;
            height: 60%;
        }
    }
}