/* MAIN PRODUCTOS*/

.mainContainer{
    h1{
        text-align: center;
        font-size: 200%;
    }
    p{
        font-size: 150%;
    }
    
    .cardFlex{
    display: flex;
    justify-content: space-around;
    }


}
