/* MAIN PRODUCTOS*/

.mainContainer{
    h1{
        text-align: center;
        @extend %font;
    }
    p{
        font-size: 150%;
    }
    
    .cardFlex{
    @include flex (flex, space-around);
    }
    .color-card{
        background-color: #f2f7f7;
    }

}
