/* MAIN CONTACTO*/

.mainContainer{
    .contacto{
        display: flex;
        justify-content: start;
    }
    .maps{
        padding: 10px;
        display: flex;
        justify-content: start;
    }
}
/* MOBILE*/

@media only screen and(max-width: 450px){
    .mainContainer{
        .contacto{
            display: flex;
            justify-content: center;
        }
        .maps{
            display: flex;
            justify-content: center;
            width: 80%;
            height: 60%;
        }
    }
}