*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    color: #a0d2f3;
    background-image: url(../imagenes/Diapositiva1.PNG);
    background-size: 100%;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}



