*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    color: #a0d2f3;
    background-size: 100%;
    background-image: url(../imagenes/diapositiva.PNG);
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}



